<!DOCTYPE html>
<html>
<head>
<title>Friendly Message Sender</title>
<link rel="stylesheet" type="text/css" href="style.css">  
</head>
<body>

<h1>Friendly Message Sender</h1>
<p>Send someone a compliment!</p>
  
<h3>What kind of compliment do you want to send?</h3>
  
<form action="/results" method="post">
  <h3>Looks</h3>
  <input type="radio" name="compliment" value="Outfit">Outfit
  <input type="radio" name="compliment" value="Hair">Hair
  <input type="radio" name="compliment" value="Shoes">Shoes
  <input type="radio" name="compliment" value="Smile">Smile
<h3>Talent</h3>
  <input type="radio" name="compliment" value="Sports">Sports
  <input type="radio" name="compliment" value="Musical">Musical
  <input type="radio" name="compliment" value="Intellectual">Intellectual
<h3>Personality</h3>
  <input type="radio" name="compliment" value="Charisma">Charisma
  <input type="radio" name="compliment" value="Optimism">Optimism
  <input type="radio" name="compliment" value="Enthusiasm">Enthusiasm
  <input type="radio" name="compliment" value="Humor">Humor
  <input type="radio" name="compliment" value="Trustworthiness">Trustworthiness
<input type="submit" value="Submit">
</form>

</body>
</html>