<!DOCTYPE html>
<html>
<head>
<title>Friendly Message Sender</title>
<link rel="stylesheet" type="text/css" href="style.css">  
</head>
<body>

<h1>Friendly Message Sender</h1>

  
  <h3>Your compliment:</h3>
  <%=compliment(@choice)%>

</body>
</html>